<html>
<head>
<title>Agendize Error</title>

  <link rel="stylesheet" type="text/css" href="/public/styles/guideline/style.css">
  <title>Agendize third party application error</title>
  	<link rel="shortcut icon" href="/public/images/favicon.png">

</head>
<body id="errorPage">

  <img class="logoAgendize" src="/public/images/agendize.png" alt="Agendize logo" />
	<h4>HTTP <%=error.code%> error</h4>

	<h2><%=error.message%></h2>

	<p><a class="supportLink" href="http://support.agendize.com/support/tickets/new">Open a ticket</a></p>

</body>
</html>